html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Shadows Into Light';
}

h2 {
    font-family: 'Volkhov';
}

p {
    font-family: 'PT Sans Narrow';
}

body {

}

#container {
    width: 100%;
}

header {
    background-color: #98afc7;
}

main {
}

section {

}

#text {
    background-color: #e3e3e3;
		width: 95%;
		margin: auto;
		padding: 2%;
		margin-top: 5%;
		margin-bottom: 5%;
		text-align: center;
}

.btn {
	margin-bottom: 2%;
}

#colors {

}

.color {

}

#images {

}
