html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Shadows Into Light';
}

h2 {
    font-family: 'Volkhov';
}

p {
    font-family: 'PT Sans Narrow';
}

#container {
    width: 100%;
}

header {
    background-color: #98afc7;
    width: 100%;
}

#text {
    background-color: #e3e3e3;
		width: 95%;
		margin: auto;
		padding: 2%;
		margin-top: 5%;
		margin-bottom: 5%;
		text-align: center;
}

.btn {
	margin-bottom: 2%;
}

article {
  margin-top: 1%;
	width: 100%;
}

#colors div {
	margin: auto;
	width: 10%;
	display: inline;
}

.color {
	max-width: 100px;
}

.images {
    width: 70%;
		height: auto;
    max-width: 900px;
    margin: auto;
}
